.skillsContainer {
  display: flex;
}

.skillsSection {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skillsWebDev {
  flex: 6;
}

.skillsImg {
  height: 40rem;
}

.skillsText {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.664);
}

.skillsUl {
  list-style-type: none;
  font-size: 1rem;
  padding: 10px;
  color: rgba(255, 0, 0, 0.644);
}
